:root {
  --white-color: #ffffff;
  --background-col: #ffffff;
  --color-hover: #2196f3;
  --hero-text-color: #ffffff;
  --logo-text-col: #000000;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-footer-col: #2f303a;
  --background-section-col: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--text-color);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* Шапка */
.logo-web {
  color: var(--color-hover);
}
.logo {
  color: var(--logo-text-col);
}
.site-nav .current:visited {
  color: green;
}

.site-nav a {
  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--color-hover);
}
.contacts a {
  color: var(--text-color);
}
/* Основний контент */
.hero {
  background-color: var(--background-hero-footer-col);
}
.hero-title {
  color: var(--hero-text-color);
}
.button,
.button-portf {
  color: var(--hero-text-color);
  background-color: var(--color-hover);
}
.section-title {
  color: var(--title-text-color);
}
.non-display {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-team {
  background-color: var(--background-section-col);
}

/* Футер */
footer {
  background-color: var(--background-hero-footer-col);
}
.footer-logo {
  color: var(--white-color);
}
footer a {
  color: var(--footer-text-color);
}
.adres {
  color: var(--white-color);
}
